@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    height: 100vh;
}

a:hover {
    text-decoration: none !important;
    color: unset !important;
}

.content-wrapper {
    height: 100vh;
}