@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.request-header{
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.request-container {
    position: absolute;
    top: 0;
    height: 70%;
    left: 0;
    width: 50%;
    z-index: 2;
}

.response-container {
    right: 0;
    width: 50%;
    z-index: 2;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 70%;
}

.configuration-container{
    right: 0;
    width: 100%;
    z-index: 2;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FFFFFF, rgba(255, 75, 43, 0.51));
    background: linear-gradient(to right, #FFFFFF, rgba(255, 75, 43, 0.51));
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 70%;
    height: 30%;
}

.configuration .buttons {
    margin-top: 15px;
}

.configuration .buttons button {
    margin-right: 10px;
}


.response {
    padding: 0 50px;
    margin-top: 130px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.response-text {
    background-color: #eee;
    padding: 12px 15px;
    margin-top: 5px;
    min-height: 50px;
    max-height: 160px;
    overflow-y: scroll;
}

.radio-left {
    width: 10%;
    float:left;
}

.radio-right {
    width: 10%;
    float:right;
}
.container-radio-left {
    width: 50%;
    float: left;
}

.container-radio-right {
    width: 50%;
    float: right;
}
.custom-form{
    display: block !important;
    overflow:hidden;
}

.radio-text{
    float:left;
    margin-left: 15px;
    margin-top: 5px;
}

.radio-text-right{
    float:right;
    margin-left: 15px;
    margin-top: 5px;
}

.radio-form{
    margin-bottom: 20px;
    margin-top: 10px;
}